<!DOCTYPE html>
<html>
    <head>
       <style>
        h1{
            color:black;
            text-align:center;
        }
       </style>
       <script>
        function show(h) {
        
            document.getElementById("Bangkok").style.display="none";
            document.getElementById("Singapore").style.display="none";
            document.getElementById(h).style.display="block";
        
        }
        
        
        </script>
           


    </head>
<body>
<table border="1" width="400" align="center">
    <tr>
        <td align="center"><a href="javascript:show('Bangkok')"><img src="Bangkok.jpg" width="100"><br>Bangkok</a></td>
        <td align="center"><a href="javascript:show('Singapore')"><img src="Singapore.jpg" width="100"><br>Singapore</a></td>
    </tr>
</table>
<div id="Bangkok" style="display:none">
    <h1>Bangkok</h1>
    <table border="3" width="600" bgcolor="orange" align="center">
        <tr>
            <td align="center">Destination:</td><td align="center" bgcolor="yellow">Bangkok</td>
        </tr>
        <tr>
            <td align="center">Hotel:</td><td align="center" bgcolor="yellow">$300/Night</td>
        </tr>
        <tr>
            <td align="center">Flight:</td><td align="center" bgcolor="yellow">$300/Night</td>
        </tr>
    </table> 
</div>

<br>

<div id="Singapore" style="display:none">
    <h1>Singapore</h1>
    <table border="3" width="600" bgcolor="green" align="center">
        <tr>
            <td align="center">Destination:</td><td align="center" bgcolor="cyan">Singapore</td>
        </tr>
        <tr>
            <td align="center">Hotel:</td><td align="center" bgcolor="cyan">$450/Night</td>
        </tr>
        <tr>
            <td align="center">Flight:</td><td align="center" bgcolor="cyan">$900/Night</td>
        </tr>
    </table>
</div>